* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.parent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to left bottom, cyan, rgb(0, 77, 128)); */
  background: linear-gradient(to left bottom, teal, black);
}

.parent h1 {
  color: white;
}

fieldset {
  border: 1px dashed white;
  border-radius: 5px;
  padding: 20px;
  color: white;
}

fieldset legend {
  font-size: 32px;
}

.container {
  padding: 20px;
}

.container input {
  padding-left: 5px;
  margin: 5px 0px;
  height: 25px;
  width: 100%;
  border: none;
  border-radius: 3px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.buttons button,
.create-account {
  padding: 5px 10px;
  margin-top: 15px;
  width: 50%;
  border: 1px solid white;
  border-radius: 3px;
  transition: all 0.2s;
}

.buttons button:hover,
.create-account:hover {
  color: white;
  background-color: transparent;
  font-weight: bold;
}

.added-text {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.remove-button {
  display: none;
}

.create-account {
  width: 100%;
}

.signup-username-input,
.signup-password-input {
  padding-left: 2px;
}

.signup-password-input {
  position: relative;
}

.signup-view-icon {
  width: 4%;
  position: absolute;
  margin-top: 3px;
  /* top: 290px; */
  /* left: 570px; */
  z-index: 1;
}

.login-view-icon {
  width: 4%;
  position: absolute;
  margin-top: 3px;
  /* top: 259px; */
  /* left: 570px; */
}

.final-table {
  margin: 0;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  color: white;
}

table {
  width: 80%;
}

th,
td {
  padding: 15px;
}
