* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px solid black;
  padding: 20px;
}

button {
  padding: 5px 10px;
  margin-top: 5px;
  width: 100%;
}

.remove-button {
  display: none;
}

.signup-username-input,
.signup-password-input {
  padding-left: 2px;
}
